---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Valerie Lim" description="About Valerie Lim Lorem Ipsum">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline=""
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Jeanine White at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						I am a Full-Stack Software Engineer with a diverse background in product management, customer success, project management, operations, and management. After spending 3 years working in gaming and cybersecurity, I decided to become more technical after realizing I was much more interested in what my developers were doing.
					</p>
					<p>
						Led the development of features on FC 24 such as the main menu redesign and closed beta, where I organized and collaborated with large multidiscplinary and cross-functional teams throughout the organization. I've also had the opportunity to work in an early stage cybersecurity startup, where I had a strong influence on product design, customer success, and operational processes. Now that I have graduated from a Full Stack Development bootcamp, I am ready to . My unique blend of developer experience and a deep love for innovation enables me to craft strategic product roadmaps that resonate with both technical and non-technical stakeholders.
					</p>
					<p>
						I have been consistently awarded for championing positive work culture and positivity. One of the most important things to me is collaborating in a meaningful and thoughtful way with my peers, in and out of the workplace. I truly believe that the positivity and energy I bring into my work enables me to be a passionate contributor that promotes the same energy from my team.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<h5>General Assembly, Full Stack Software Engineering Immersive</h5>
					<caption><strong>Graduated: January 2024</strong></caption>
					<p>Full-stack software engineering 420+ hour program focused on product development fundamentals, object-oriented programming, MVC frameworks, data modeling, and team collaboration strategies.</p>
				</div>
				<div class="content">
					<h5>University of British Columbia, Bachelor of Arts – Political Science</h5>
					<caption><strong>Graduated: November 2020</strong></caption>
				</div>
			</section>
			<section>
				<h2 class="section-title">Languages</h2>
				<div class="content">
					<h5>Python | Javascript | HTML | CSS | SQL | Mongo | JSON | Typescript | EJS | DTL</h5>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
