---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Valerie Lim" description="About Valerie Lim Lorem Ipsum">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline=""
			>

			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						I am a <strong>Full-Stack Software Engineer</strong> with a diverse background in <strong>product management, customer success, 
						project management, operations,</strong> and <strong>management</strong>. After spending 3 years working in gaming and cybersecurity, 
						I decided to become more technical after realizing I was much more interested in the technical aspects of my role. My unique blend of 
						developer experience combined with my obsession with organization and efficiency allow me to bridge the gap betweentechnical and 
						non-technical stakeholders.
					</p></br>
					<p>
						I've had the opportunity to lead the development of features on FC 24 such as the main menu redesign and closed beta,
						 where I organized and collaborated with large multidiscplinary and cross-functional teams throughout the 
						 organization. My experience spans to helping build a team from the ground up at an early stage cybersecurity startup, where I had a strong influence on product design, 
						customer success, and operational processes. <strong>Now that I have graduated from a Full Stack Development bootcamp, I am 
						ready and excited to bring my ambition and drive into building meaningful solutions.</strong>
					</p></br>
					<p>
						I have been consistently awarded for <strong>championing positive work culture and positivity</strong>. One of the most important things to me is collaborating in a meaningful and thoughtful way with my peers, in and out of the workplace. I truly believe that the positivity and energy I bring into my work enables me to be a passionate contributor that promotes the same energy from my team.
					</p></br>
					<p>
						On a more personal note, I am extremely passionate about issues related to sustainability and self-determination. 
						I am also an avid gamer, amateur baker, fitness junkie, and mother to an extremely stubborn dog.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<h5>General Assembly, Full Stack Software Engineering Immersive</h5>
					<caption><strong>Graduated: January 2024</strong></caption>
					<p>Full-stack software engineering 420+ hour program focused on product development fundamentals, object-oriented programming, MVC frameworks, data modeling, and team collaboration strategies.</p>
				</div>
				<div class="content">
					<h5>University of British Columbia, Bachelor of Arts – Political Science</h5>
					<caption><strong>Graduated: November 2020</strong></caption>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
