---
import Icon from './Icon.astro';
---
<div class="skills-flex">
<section class="box skills">
	<div class="stack gap-4">
		<div class="skill-header gap-2 lg:gap-4">
			<Icon icon="code" color="var(--accent-regular)" size="2.5rem" gradient />
			<h2>Languages</h2>
		</div>	
		<div class="icons">	
			<span><Icon icon="python" color="var(--accent-regular)" size="8rem" gradient /></span>			
			<span><Icon icon="js" color="var(--accent-regular)" size="8rem" gradient /></span>			
			<span><Icon icon="html" color="var(--accent-regular)" size="8rem" gradient /></span>			
			<span><Icon icon="css" color="var(--accent-regular)" size="8rem" gradient /></span>			
			<span><Icon icon="sql" color="var(--accent-regular)" size="8rem" gradient /></span>			
			<span><Icon icon="json" color="var(--accent-regular)" size="8rem" gradient /></span>			
		</div>
	</div>
</section>

<section class="box skills">
	<div class="stack gap-4 ">
		<div class="skill-header gap-2 lg:gap-4">
			<Icon icon="data" color="var(--accent-regular)" size="2.5rem" gradient />
			<h2>Databases</h2>
		</div>
		<div class="icons">
			<span><Icon icon="postgresql" color="var(--accent-regular)" size="8rem" gradient /></span>		
			<span><Icon icon="mongo" color="var(--accent-regular)" size="8rem" gradient /></span>				
		</div>
	</div>
</section>

<section class="box skills">
	<div class="stack gap-4">
		<div class="skill-header gap-2 lg:gap-4">
			<Icon icon="layout" color="var(--accent-regular)" size="2.5rem" gradient />
			<h2>Frameworks</h2>
		</div>
		<div class="icons">
			<span><Icon icon="react" color="var(--accent-regular)" size="8rem" gradient /></span>			
			<span><Icon icon="express" color="var(--accent-regular)" size="8rem" gradient /></span>			
			<span><Icon icon="django" color="var(--accent-regular)" size="8rem" gradient /></span>			
			<span><Icon icon="jquery" color="var(--accent-regular)" size="8rem" gradient /></span>			
			<span><Icon icon="vue" color="var(--accent-regular)" size="8rem" gradient /></span>			
			<span><Icon icon="bootstrap" color="var(--accent-regular)" size="8rem" gradient /></span>			
			<span><Icon icon="tailwind" color="var(--accent-regular)" size="8rem" gradient /></span>			
		</div>
	</div>
</section>

<section class="box skills">
	<div class="stack gap-4 ">
		<div class="skill-header gap-2 lg:gap-4">
			<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
			<h2>CRM and Agile</h2>
		</div>
		<div class="icons">
			<span><Icon icon="jira" color="var(--accent-regular)" size="8rem" gradient /></span>			
			<span><Icon icon="confluence" color="var(--accent-regular)" size="8rem" gradient /></span>			
			<span><Icon icon="gsuite" color="var(--accent-regular)" size="8rem" gradient /></span>			
		</div>
	</div>
</section>

</div>

<style>

	span {
		margin: 0 -3rem -3rem 0;
	}

	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem 0.5rem 1.5rem 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
		max-width: fit-content;
		margin: 0.5rem;
	}

	.skills-flex {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.icons {
		display: flex;
		justify-content: space-around
	}

	.skill-header {
		display: flex;
		align-items: center;
		margin-bottom: 1rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
		width: max-content
	}

	@media (max-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills-flex {
			max-width: 100%;
		}
		.icons {
			flex-wrap: wrap;
		}

		.skills {
			flex-wrap: wrap;
			width: 100%;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}

		.stack{
			display: flex;
			flex-wrap: wrap;
		}
	}
</style>
